<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 使用映射器时namesapce必须为详细接口地址,id必须为接口方法名 -->
<mapper namespace="com.dao.ShopMapper">
	 <!-- 
			id:表示唯一标识, 一般取空间名属性值里的方法名
			resultType:返回值类型(完整限定名或别名)
		-->
 	<select id="queryAll" resultType="Shop">
   	 	select * from shop
  	</select>
  		<select id="queryAllMap" resultType="map">
   	 	select * from shop
  	</select>
  	<!-- 
  			模糊查询
			id:表示唯一标识, 
			resultType:返回值类型
			parameterType:参数类型
			#{ }:代表'?',传入参数替代符
			${value}:sql拼接符,如果传入参数为基本数据类型
			#{abc}:如果传入参数为任意数据类型,比如对象,类,abc参数随意
		-->
  	<select id="queryLike" resultType="shop">
   	 	select * from shop where shopname like '%${value}%'
  	</select>
  	<!-- 根据id查询记录 -->
  	<select id="queryLikeID" resultType="shop">
   	 	select * from shop where shopid= #{shopid}
  	</select>
  	<!-- 根据模糊关键字查询记录条数 -->
  	<select id="queryCount" resultType="int">
   	 	select count(*) from shop where shopname like '%${value}%'
  	</select>
  	<!-- 插入 -->
   	<insert id="insertSingle">
   	<!-- keyProperty:写ParameterType所对应的属性名
   			order="BEFORE" 表示在执行insert之前产生序列值 
   			resultType="String"指定返回值类型
   		-->
   		<selectKey keyProperty="shopId" order="BEFORE" resultType="String">
   			select sqe_shop.nextval from dual
   		</selectKey>
  		insert into shop values(#{shopId},#{shopName},#{shopAddress},#{contact})
	</insert>
	<!-- 跟新 -->
	<update id="updateSingle">
  		update shop set
    	shopName=#{shopName},shopAddress=#{shopAddress},contact=#{contact} where shopid = #{shopId}
	</update>
	<!-- 删除 -->
	<delete id="deleteSingle">
  		delete from shop where shopid=#{a}
	</delete>
	<!-- 复杂sql语句(课上作业,多表查询显示) -->
	<select id="queryCustomer" resultType="map">
		select o.ordersid,p.productdesc,p.currentPrice,od.quantity,o.ordersdate
		from orders o,ordersDetail od,product p
		where o.ordersid=od.ordersid and od.productid=p.productid and o.customerid=2
		order by o.ordersdate
	</select>
	
	<select id="queryIfByPojo" parameterType="Shop" resultType="Shop">
		select * from shop where 1=1
		<!-- _parameter表示接口中的参数 -->
		<if test="_parameter !=null  and  _parameter != ''">
			<if test="_parameter.shopName!=null and _parameter.shopName !=''">
				and shopname like '%${shopName}%'
			</if>
			<if test="shopAddress!=null and shopAddress !=''">
				and shopaddress like '%${shopAddress}%'
			</if>
		</if>
	</select>
</mapper>