<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>crub_ajaxAndspringAndmybatis</display-name>
	<welcome-file-list>
		<welcome-file>shopShow.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>springPath</param-name>
		<param-value>classpath:config/Spring.xml</param-value>
	</context-param>
  	<servlet>
	  	<servlet-name>ShopServlet</servlet-name>
	  	<servlet-class>sun.controller.MainServlet</servlet-class>
	  	<init-param>
	  		<param-name>encoding</param-name>
	  		<param-value>utf-8</param-value>
	  	</init-param>
	  	<load-on-startup>0</load-on-startup>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>ShopServlet</servlet-name>
  		<url-pattern>*.shop</url-pattern>
  	</servlet-mapping>
</web-app>